{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [">1%", "not ie > 0", "not op_mini all"]
      }
    }],
    "stage-2",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-css-modules", {
          "generateScopedName": "[local]__[path][name]__[hash:base64:5]"
        }]
      ]
    },
    "production": {
      "plugins": [
        ["react-css-modules", {
          "generateScopedName": "[local]__[path][name]__[hash:base64:5]"
        }]
      ]
    }
  }
}
