{
  "presets": [
    "env",
    "stage-2",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-css-modules", {
          "generateScopedName": "[local]__[path][name]__[hash:base64:5]"
        }]
      ]
    },
    "production": {
      "plugins": [
        ["react-css-modules", {
          "generateScopedName": "[local]__[path][name]__[hash:base64:5]"
        }]
      ]
    }
  }
}
