{
  "presets": [
    "./babel-preset",
    "stage-2",
    "react"
  ],
  "plugins": [
    ["babel-plugin-react-css-modules", {
      "generateScopedName": "[path]__[name]__[local]__[hash:base64:5]"
    }]
  ]
}
