.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  margin: 0.5rem;
}

.inventory-tree {
  display: flex;
  width: 10rem;
}

.story-content {
  display: flex;
  flex: 1;
  min-height: 0;
}
