.heading {
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.root {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.content {
  flex: 1;
}

.no-text {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: dimgray;
  background-color: lightgray;
}

.verbs {
}
