.tab-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-bar {
  display: flex;
  background: var(--tab-background-color);
  border-radius: 1rem;
}

.tab-button {
  padding: 0.5rem;
  border: var(--tab-border-width) solid var(--tab-background-color);
  border-radius: 1rem;
  background: var(--tab-background-color);
  flex: 1;
}

.tab-panels {
  flex: 1;
}

.tab-panel {
  height: 100%;
}

.selected {
  background: var(--tab-selected-background-color);
}
