.content {

}

.paragraph {
  padding: 0 0.5rem 0.5rem 0.5rem
}

.item-button {
  background: none;
  border: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  color: var(--item-button-color);
  &:hover, &:focus {
    color: var(--item-button-attention-color);
  }
}

.unrecognized {

}
