.root, .no-text {
  flex: 1;
  border: 2px solid green;
  margin: 0.5rem;
}

.root {
  overflow-y: scroll;
  padding: 0.5rem;
}

.paragraph {

}

.item-button {

}

.unrecognized {

}

.no-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 2rem sans-serif;
  color: dimgray;
  background-color: lightgray;
}
