.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.header {
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.content {
  border: var(--content-border-width) solid brown;
  padding: 0.5rem;
  flex: 1;
  min-height: 0;
}
