.root {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.log {
  display: flex;
  flex: 3;
  min-height: 0;
}

.current-room, .current-item {
  display: flex;
  flex: 2;
  min-height: 0;
}
