.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.content, .no-text {
  flex: 1;
  border: 2px solid green;
}

.header {
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.content {
  min-height: 0;
  overflow-y: scroll;
  padding: 0.5rem;
}

.paragraph {

}

.item-button {
  background: none;
  border: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  &:hover {
    color: blue;
  }
}

.unrecognized {

}

.no-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 2rem sans-serif;
  color: dimgray;
  background-color: lightgray;
}
